<section class="home">
    <div class="home-container">
      <div class="block">
        <a routerLink="/products">
          <h2>Продукты</h2>
          <p>Перейдите к разделу "Продукты" для просмотра всех товаров нашего магазина.</p>
        </a>
      </div>
      <div class="block">
        <a routerLink="/profile">
          <h2>Профиль</h2>
          <p>Перейдите к разделу "Профиль" для управления вашей учетной записью.</p>
        </a>
      </div>
      <div class="block">
        <a routerLink="/about">
          <h2>О нас</h2>
          <p>Перейдите к разделу "О нас", чтобы узнать больше о нашем магазине и нашей команде.</p>
        </a>
      </div>
    </div>
  </section>
  