<div class="about-container">
    <h2>О нас</h2>
    <p>Магазин дзюдо инвентаря предлагает широкий ассортимент экипировки для занятий дзюдо. У нас вы найдете:</p>
    <ul>
        <li>Дзюдо Ги высокого качества, подходящие для тренировок и соревнований.</li>
        <li>Пояса различных цветов, от начального уровня до черного пояса.</li>
        <li>Мягкие маты для безопасных тренировок и соревнований на высоком уровне.</li>
        <li>Аксессуары, такие как защитные принадлежности, сумки и другие необходимые предметы.</li>
    </ul>
    
    <h3>Наше видение</h3>
    <p>Наш магазин стремится предоставить высококачественные товары для всех уровней практикующих, от новичков до профессионалов. Мы уверены, что каждый найдет у нас что-то подходящее!</p>
    
    <h3>Наши преимущества</h3>
    <ul>
        <li>Качественные продукты от ведущих производителей дзюдо оборудования.</li>
        <li>Индивидуальный подход к каждому клиенту и помощь в выборе необходимого оборудования.</li>
        <li>Быстрая доставка и отличный сервис.</li>
        <li>Конкурентные цены и акции для наших клиентов.</li>
    </ul>
</div>
